{% extends 'base.html' %}

{% block content %}

<div class="bg-white py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <p class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white">Evaluate</p>
            <label class="block mb-2 text-lg font-bold text-gray-900 dark:text-white">Token: {{token}}</label>
        </div>
        <div class="mx-auto mt-8 sm:mt-10 lg:mt-12">
            <dl class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-1 lg:gap-y-16">
                <div class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <div class="relative pl-16">
                        <form action="/evaluate/{{token}}" method="POST">
                            <input type="text" name="token" id="token" hidden="true" value="{{token}}"></input>
                            <div class="grid gap-6 mt-12 mb-6 grid-cols-4 md:grid-cols-8">
                                <div class="flex items-center"> <!-- Grid cell -->
                                    <label for="window_before" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Window Before:</label>
                                </div>
                                <div class="flex items-center col-span-3"> <!-- Grid cell -->
                                    <input type="text" name="window_before" id="window_before"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required></input>
                                </div>
                                <div class="flex items-center"> <!-- Grid cell -->
                                    <label for="window_after" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Window After:</label>
                                </div>
                                <div class="flex items-center col-span-3"> <!-- Grid cell -->
                                    <input type="text" name="window_after" id="window_after"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required></input>
                                </div>
                                <div class="flex items-center"> <!-- Grid cell -->
                                    <label for="id_columns" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">ID Columns:</label>
                                </div>
                                <div class="flex items-center col-span-3"> <!-- Grid cell -->
                                    <input type="text" name="id_columns" id="id_columns"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required></input>
                                </div>
                                <div class="flex items-center"> <!-- Grid cell -->
                                    <label for="target_column" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Target Column:</label>
                                </div>
                                <div class="flex items-center col-span-3"> <!-- Grid cell -->
                                    <input type="text" name="target_column" id="target_column"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required></input>
                                </div>
                                <div class="flex items-center"> <!-- Grid cell -->
                                    <label for="measurement_date_column" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Measurement Date Column:</label>
                                </div>
                                <div class="flex items-center col-span-3"> <!-- Grid cell -->
                                    <input type="text" name="measurement_date_column" id="measurement_date_column"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required></input>
                                </div>
                                <div class="flex items-center"> <!-- Grid cell -->
                                    <label for="anchor_date_column" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Anchor Date Column:</label>
                                </div>
                                <div class="flex items-center col-span-3"> <!-- Grid cell -->
                                    <input type="text" name="anchor_date_column" id="anchor_date_column"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required></input>
                                </div>
                            </div>
                            <button type="submit"
                                class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Submit</button>
                        </form>
                    </div>
                </div>
                <p class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white">List of evaluations performed</p>
                <table class="table table-bordered">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Token</th>
                            <th scope="col">Window Before</th>
                            <th scope="col">Window After</th>
                            <th scope="col">ID Columns</th>
                            <th scope="col">Target Column</th>
                            <th scope="col">Measurement Date Column</th>
                            <th scope="col">Anchor Date Column</th>
                            <th scope="col">Date Created</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for evaluateModel in evaluateModelsList %}
                                <tr>
                                    <td >{{evaluateModel['uid']}}</td>
                                    <td >{{evaluateModel['window_before']}}</td>
                                    <td>{{evaluateModel['window_after']}}</td>
                                    <td>{{evaluateModel['id_columns']}}</td>
                                    <td>{{evaluateModel['target_column']}}</td>
                                    <td>{{evaluateModel['measurement_date_column']}}</td>
                                    <td>{{evaluateModel['anchor_date_column']}}</td>
                                    <td>{{evaluateModel['date_created']}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </dl>
        </div>
    </div>
</div>


{% endblock %}