{% extends 'base.html' %}

{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <p class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white">Data File Uploaded Successfully!!</p>
        <p class="mb-8 text-lg font-semibold text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Reference token for this file is : </p>
        <p class="text-4xl text-gray-500 dark:text-gray-400">{{token_text}}</p>
        <p class="mt-8 text-lg font-semibold text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Save the token and use it to perform further analysis on the uploaded file</p>
    </div>
</section>


{% endblock %}